:root {
  --color-primary: #4A90E2;
  --color-accent: #50E3C2;
  --color-bg: #f9f9f9;
  --color-text: #333333;
  --color-muted: #888888;
  --color-white: #ffffff;
  --color-border: #e6e6e6;
  --color-hover: #357ABD;

  --font-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --radius: 8px;
  --transition: 0.2s ease;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-base);
    background-color: var(--color-bg);
    color: #000;
    line-height: 1.6;
    font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.875rem;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--color-hover)
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

footer, .legal {
  font-size: 0.75rem;
  color: #777;
}